<!doctype html>
<!--
This file is part of the BBx-Kitchen/bbx-linear-gauge
(c) Basis Europe <eu@basis.com>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
-->

<html>

  <head>
    <title>BBX Linear-gauge Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="demo.html">

    <style is="custom-style" include="demo-pages-shared-styles">
      body {
        margin: 10px auto;
        width: 600px;
      }
    </style>
  </head>

  <body>
    <linear-gauge-demo></linear-gauge-demo>
  </body>

</html>
